@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5C4033;
  --accent: #E8DCD1;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html, body {
    font-family: var(--font-ibm-plex-sans);
  }
}

@layer components {
  .nav-link {
    @apply relative text-black hover:text-[#5C4033] transition-colors;
  }

  .nav-link::after {
    @apply content-[""] absolute left-0 bottom-0 w-0 h-0.5 bg-[#5C4033] transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }
}
